<div class="grid">
    {{#each products}}
    <div class="row">
        {{#each this}}
        {{#dataValues}}
        <div class="column card col-xl-3 m-4">
            <div class="card-body">
                <p><span id="itemName" class="label"><b>Name :</b></span> {{this.product_name}}</p>
                <p><span id="itemPrice" class="label"><b>Price :</b></span> $ {{this.price}} CAD</p>
                <p><span class="label"><b>Category :</b></span> {{this.category}}</p>
                <p><span class="label"><b>Description :</b></span> {{this.description}}</p>
                <button class="btn" type="submit" id="addBtn" onclick="sendData('{{this.product_name}}', '{{this.price}}')">Add to cart</button>
            </div>
        </div>
        {{/dataValues}}
        {{/each}}
    </div>
    {{/each}}
</div>

<script>


    function sendData(itemName, itemPrice){
        //get the input value
        //itemName = $('#itemName').html();
        //itemPrice = $('#itemPrice').html()
        
          $.ajax({
            //the url to send the data to
            url: "/api/cart",
            //the data to send to
            data: 
            {
                product_name : itemName,
                 
                
                price : itemPrice
                },
            //type. for eg: GET, POST
            type: "POST",
            //datatype expected to get in reply form server
            dataType: "json",
            //on success
         success: function(data){
             alert("Your item has been added to the cart!")
            },
            //on error
            error: function(error){
                console.log(error)
            }
      
        
        });
    }
</script>